*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background:url(../image/school.jpg) no-repeat;
    background-size: cover;
    
}
div#header > span{

    position: absolute;
    top: 7px;
    right: 5px;
}

div#header{
    padding-bottom: 30px;
}

div#content{
    text-indent: -10000px;
    height: 801px;
    width: auto;
    background: url(../image/gea_sun.png)center top no-repeat;
    margin-top: 50px;
    position: relative;
}